@import '/navbar/style.css';
@import '/footer/style.css';

.itemgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
}
.product{
    width: auto;
    height: 300px;
    background: #dbdbdb;
}
.productimg{
    padding-top: 20px;
    height: 100px;
    width: 175px;
}
.pricetag{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 25px;
}
.productname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}