*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
.Navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #cacaca;
    z-index: 9;
}