@import '/navbar/style.css';
.pcontaner{
    padding: 0 9vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.pcontaner::-webkit-scrollbar{
    display: none;
}
.product{
    flex: auto;
    width: 260;
    height: 350;
    margin-right: 36px;
}
.productimg{
    position: relative;
    width: 100%;
    height: 330px;
    overflow: hidden;
}
.discount{
    position: absolute;
    background: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 6px;
    color: rgb(255, 74, 74);
    top: 9px;
}
.couponprice{
    font-weight: 900;
    font-size: 19px;
}
.normalprice{
    margin-left: 19px;
    opacity: 0.8;
    text-decoration: line-through;
    color: red;
}
.info{
    height: 20px;
    width: 330px;
}