@import '/navbar/style.css';
@import '/footer/style.css';

.cards{
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
    box-shadow: 0,0,4px rgba(0, 0, 0, 0.2);   
}
.cardimg{
    width: 100%;

}