*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
#main{
    background-color: #333333;
    display: flex;
}
.footerlink{
    text-decoration: none;
    color: #bdbdbd;
}
.media img{
    height: 3ch;
}
#medialinks{
    background-color: #424242;
    height: 4ch;
}
.media{
float: right;
}

.column{
    width: 20ch;
}
.columnheader{
    color: #ffffff;
}