@import '/navbar/style.css';
  #header{
    font-family: cursive;
    font-size: 5ch;
  }
  #breif_info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.3ch;
  }
  #long_expo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 2.2ch;
  }